<div class="container">

  <h1>All Notes</h1>
  <%= link_to "New Note", new_post_path, :class => 'btn btn-success'  %>
  <% @posts.each do |post| %>
    <p><%= link_to post.title, post %></p>
    <div class="media">
      <div class="media-body">
        <h4 class="media-heading">
          <%= markdown(post.body) %>
        </h4>
      </div>
    </div>
    <p>
      =====================================================
    </p>
  <% end %>
</div>
