// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.glyphicon {
  padding-right: 1.8rem;
}

.glyphicon-tag {
  padding-left: 0.8rem;
}

#post-title  a p {
  transition: color 0.25s ease;
  color: #2C001E;
}

#post-title a p:hover {
  color: #4682b4;
}

#post-title a:hover {
  text-decoration: none;
}

.pagination a {
  color: #2C001E;
}

.sf-blue {
  color: #4682b4;
}

a .btn-success {
  background-color: #2c5272;
}
